.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}
body, input[type="text"]{
      font-family: "Open Sans";
  }
  label{
      text-align: left;
  }
  div{
      text-align: left;
  }
  .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  .thumbnail {
    height: 200px;
  }
  .thumbnail img.pull-right {
    width: 50px;
  }
  .dropdown {
      display: inline-block;
  }

  #accTitle{
    color: #f4511e;
    text-align: center;
    animation: bounceIn 2s;u

  }
  .accText{
    color: black;
    text-align: center;
    font-size: 16pt;

  }

  .accButtons{
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .accLinks{
    padding: 14px 25px;
    color: black;
    font-size: 18pt;
    text-decoration: underline;
  }
  button.accordion {
      background-color: #f4511e;
      color: #eee;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: center;
      outline: none;
      font-size: 25pt;
      transition: 0.4s;
  }
  button.accordion.active, button.accordion:hover {
      background-color: white;
      color: #f4511e
  }
  div.panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
  }
